body {
    background: darkslateblue;
}

.imgBox {
    background-image: url('image.png');
    position: relative;
    top: 7px;
    left: 5px;
    height: 145px;
    width: 145px;
    cursor: pointer;
}

.whiteBox {
    display: inline-block;
    height: 155px;
    width: 155px;
    margin: 10px;
    background-color: white;
    border: 3px rgb(1, 1, 51) solid;
}
.hold{
    border: solid red 4px;
}
.hide{
    display: none;
}
.dashed{
    background: lightgoldenrodyellow;
    border-style: dashed;
}